
TRIGGERS = {
  "GMail" => {
    "accounts" => [
      {"username" => "myaddress@gmail.com", 
      "password" => "mypassword",
      }
    ],
    "period" => 5
  }
}

RECEIVERS = [
  "+19876543210",
]

